table thead {
    font-size: 13px;
    font-weight: 100;
    color: grey;
    text-align: left;
    border-bottom: 2px solid lightgray;
    height: 30px;
}

tbody tr {
    font-size: 13px;
    border-bottom: 1px solid lightgray;
    height: 30px;
}

table{
    width: 100%;
    border-collapse: collapse;
    padding: 1px;
    border-bottom: 2px solid black;
}
